<div class="pageTitle">
  <h1>Write message</h1>
</div>

<div class="toolbar">
</div>


<div class="content" >
  <form method="POST" action="<%= url_for :action => :do_write %>">
    <% if @msg %>
        <p style="color: red"><%= @msg %></p>
    <% end %>
    <ul>
      <li>
        <label for="message" class="fieldLabel">Message</label>
        <input type="text" name="message" <%= placeholder("Your message") %> />
      </li>
    </ul>
    <input type="submit" class="standardButton" value="Write"/>
  </form>
</div>